<%- include ('../partials/header.ejs') %>

<body>
  <div class="container" style="width: 50%">
    <div class="card" style="margin-top: 3rem; text-align: center">
      <div class="card-header">
        <h1>Cargos</h1>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Função</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <% ocuppations.forEach(ocuppation => { %>
              <tr>
                <td><%= ocuppation.id %></td>
                <td><%= ocuppation.ocuppation %></td>
                <td>
                  <button class="btn btn-primary">Atualizar</button>
                  <a href="/ocuppations/remove/<%= ocuppation.id %>">
                    <button class="btn btn-danger">
                      Remover <%= ocuppation.id %>
                    </button></a
                  >
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include ('../partials/footer.ejs') %>
